<% provide(:title, @user.name) %>
<h6> Welcome <%= @user.name %></h6>
<h5>Sort By</h5>
<ul class="nav nav-pills">
  <li role="presentation"><a href="#">Likes</a></li>
  <li role="presentation"><a href="#">Haters</a></li>
  <li role="presentation"><a href="#">Date</a></li>
</ul>
<hr>

