<header class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <%= link_to "movie app", root_path , id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Log in",  login_path %></li>
            <li><%= link_to "Sign up", signup_path %></li>
            
              <% if logged_in? %>
                   <li><%= link_to "Users", '#' %></li>
                   <li><%= link_to "Log out", logout_path, method: "delete" %></li>
              <% else %>
                  <li><%= link_to "Log in", login_path %></li>
              <% end %>
              
          </ul>
        </nav>
      </div>
</header>